.counterContainer{
    background-color: black;
    height:100%;
    padding: 30%;
    color: aliceblue;
    text-align: center;
    zoom: 140%;
}

.counterContainer h1{
    margin: 3%;
}

.counterContainer p{
    font-size: 150%;
}

.counterContainer button{
    width: 10%;
    margin: 3%;
}

.counterContainer button:hover{
    box-shadow: 0 0 10px white;

}